.items{
    display: flex;
    gap: 30px;
    text-align: center;
}

.item div{
    background-color: rgb(211, 211, 211);
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: 10px 0 0 0;
}